<a href="https://colab.research.google.com/github/mehdee4/hello-world/blob/master/Python_fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
e = 20
f = 8
if e > f:
    print('e is greater than f')
elif e == f:
    print ('e is equal to f')
elif e > f+10:
    print ('e is 10 untis greater than f')
else:
    print('none is true')

e is greater than f

In [ ]:
#functions
#collection of instructions
#collection of codes

In [ ]:
def function1 ():
    print ('ah')
    print ('still in this function')
print ('this is outside of function')

this is outside of function

In [ ]:
function1 ()

ah
still in this function

In [ ]:
def function2 (x, y , z):
    print ('this is inside the function')
    return (2*x) + (y*z)

f = function2 (1,2,3)

this is inside the function

In [ ]:
print (f)

8

In [ ]:
# BMI calculator
def bmical(name, weight, height):
        bmi =  weight / height**2
        print ('bmi: ')
        print (bmi)
        if bmi <25:
            return name + ' is not overweighted' 
        elif bmi > 25:
            return name  + ' is overweighted'

In [ ]:
mehdi = bmical ('Mehdi', 83, 1.84)
somi = bmical ('Somi', 60, 1.63)

bmi:
24.515595463137995
bmi:
22.582709172343712

In [ ]:
print (mehdi)
print (somi)

Mehdi is not overweighted
Somi is not overweighted

In [ ]:
#convert mile to km
def miletokm(x):
    km= x * 1.6
    return str(x) +' mile is ' + str(km) + ' km'
km1 = miletokm (2)
print (km1)

2 mile is 3.2 km

In [ ]:
#Lists

In [ ]:
list1 = [1,2,3,4,5]
print (list1)
print(list1[1:3])
print(list1[1:])
type (list1)

[1, 2, 3, 4, 5]
[2, 3]
[2, 3, 4, 5]

list

In [ ]:
#to add one item to a list
list1.append(3)
list1.append([4,5])
list1.append('string')
print(list1)

b = []
b.append('listB1')
b.append('listB2')
b.extend (range(3,6))
print (b)

[1, 'inserted', 2, 3, 4, 5, 3, [4, 5], 'string', 3, [4, 5], 'string', 3, [4, 5], 'string']
['listB1', 'listB2', 3, 4, 5]

In [ ]:
#to add one item into a specifit location in the list

In [ ]:
list1.insert(1, 'inserted')
print(list1)

[1, 'inserted', 2, 3, 4, 5, 3, [4, 5], 'string']

In [ ]:
#to extend (append) a list with multiple or range of items  in lists
list1.extend  ([6,7])
list1.extend (range ( 8, 12))
#to extend list with another list
list1.extend(b)
print (list1)

[6, 6, 6, 7, 8, 9, 10, 11, 'listB1', 'listB2', 6, 7, 8, 9, 10, 11, 'listB1', 'listB2', 3, 6, 7, 8, 9, 10, 11, 'listB1', 'listB2', 3, 4, 5]

In [ ]:
#to remove an item in list
list1.pop() # to remove last item
list1.pop(0) # ro remoe first item
list1.pop (-1) # to remove  last item
print (list1)

#to remove a specific value
list1.remove ('listB2')

print (list1)

[6, 6, 7, 8, 9, 10, 11, 'listB1', 'listB2', 6, 7, 8, 9, 10, 11, 'listB1', 'listB2', 3, 6, 7, 8, 9, 10, 11, 'listB1', 'listB2', 3]
[6, 6, 7, 8, 9, 10, 11, 'listB1', 6, 7, 8, 9, 10, 11, 'listB1', 'listB2', 3, 6, 7, 8, 9, 10, 11, 'listB1', 'listB2', 3]

In [ ]:
#list comprehension
#to create one list based on another. list 2 ways
print(b)
c= []
for x in b:
    c.append(x*2)
print (c)

#or list comprehension
d = [x*2 for x in b]
print(d)

['listB1', 'listB2', 3, 4, 5]
['listB1listB1', 'listB2listB2', 6, 8, 10]
['listB1listB1', 'listB2listB2', 6, 8, 10]

In [ ]:
#another example of list comprehension
#create this series
#[36,25,16,9,4,1]

#1
e=[]
for element in range (6, 0, -1):
    e.append (element ** 2)

#2
e = [element ** 2 for element in range (6, 0, -1)]
print(e)

[36, 25, 16, 9, 4, 1]

In [ ]:
# to return /retrive or replace an item in list
print (list1[0]) # to retrive an item
list1[0] = 'first item' # to replace and item
list1 [-1] = 'last item'
print (list1)

2
['first item', 3, [4, 5], 'string', 6, 7, 8, 'last item']

In [ ]:
#to change position of two items
#approach one (shortcut)
list1[0], list1[-1] = list1[-1], list1[0]
print (list1)

#approach two
temp = list1[0]
list1[0] = list1[-1]
list1[-1] = temp
print (list1)

['last item', 3, [4, 5], 'string', 6, 7, 8, 'first item']
['first item', 3, [4, 5], 'string', 6, 7, 8, 'last item']

In [ ]:
#sets

In [ ]:
#returns can keep unique values only
f= {1, 2, 2, 3}
f.add(4)
print(f)
type(f)

{1, 2, 3, 4}

set

In [ ]:
# for and while

In [ ]:
list2 = (list(range (1, 5)))

#to print each element of a list
for element in list2:
    print ( element)

#instead of wriging pring (list2[0]) , print (list2[1]) and ...

1
2
3
4

In [ ]:
#to sum each item of a list with for and while
#with for
total = 0
for element in range (1, 1000):
    total += element
    #or -> total= total + element

print (total)


#same with while
total2 = 0
j=1
while j <1000:
    total2= total2 + j
    j= j + 1
print (total2)

499500
499500

In [ ]:
listx= list(range (1, 10))
print (listx)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
total = 0
for element in listx:
    if element % 3 == 0:
        total = total + element
print (total)

18

In [ ]:
#summing up positive values of a list with for and while
#using for 1
list4 = [4, 2 , 1, 1 , 0, -1]
total3 = 0
for element in list4:
    if element > 0:
        total3 = total3 + element
print (total3)


#using for 2
list4 = [4, 2 , 1, 1 , 0, -1]
total3b = 0
for element in list4:
    if element <0:
        break
    total3b = total3b + element
print (total3b)

# using while 
list4 = [4, 2 , 1, 1 , 0, -1]
total4 = 0
i=0
while len (list4) > i and list4[i] > 0 :
    total4= total4 + list4[i]
    i = i+1

print (total4)

8
8
8

In [ ]:
#Dictionaries

In [ ]:
#define an emply dictionary
d = {}
dic = {'Mehdi' : 1, 'Bita' : 2}

In [ ]:
d['Mehdi'] = 7
d['Somi'] = 8
d['Bita'] = 9

In [ ]:
print (d)
print (dic)

{'Mehdi': 7, 'Somi': 8, 'Bita': 9}
{'Mehdi': 1, 'Bita': 2}

In [ ]:
#class

In [ ]:
class Robot:
    def introduce_self (self):
        print('My name is '+ self.name)

In [ ]:
robot1 = Robot()
robot2 = Robot ()
robot1.name = 'Mehdi'
robot2.name = 'Somi'

In [ ]:
robot1.introduce_self ()
robot2.introduce_self ()

My name is Mehdi
My name is Somi

In [ ]:
#or we can use construction to avoide spelling errors when difining objects

class Robot:
    def __init__(self, name, color, weight):
        self.name = name
        self.color = color
        self.weight = weight
    def introduce_self (self):
        print ('My name is ' + self.name)

In [ ]:

robot1 = Robot ('Tom', 'red', '22')
robot2 = Robot ('Jerry', 'blue', '32')
robot1.introduce_self ()
robot2.introduce_self ()

My name is Tom
My name is Jerry

In [ ]:
class Person:
    def __init__ (self, name, personality, isSitting):
        self.name = name
        self.personality = personality
        self.isSitting = isSitting
        
    def sitDown (self):
        self.isSitting = True
        
    def standUp (self):
        self.isSitting= False

In [ ]:
person1 = Person('Mehdi', 'Aggresive', False)
person2 = Person ('Somi', 'Kind', True)

In [ ]:
#if person 1 owns robot 2 and person 2 owns robot 1
person1.robotOwned = robot2
person2.robotOwned = robot1

In [ ]:
person1.robotOwned.introduce_self()

My name is Jerry

In [ ]:
#boolean